
<div class="col-md-4">
    <div class="card" >
        <img class="card-img-top" src=<%=recipe.image%> style="width: 100%" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title"><%=recipe.title%></h4>
            <h5 class="card-title"><%=recipe.categories.first.name%></h5>
        </div>
    </div>
</div>