
<div class="card" >
<div class="thumbnail">
 <div class="img-wrapper">
                <%= link_to "#", class:"recipePath" do%>
                    <%= image_tag "" , style: "width:100%", class: "card-img-top recipeImage" %>
                <%end%>
 </div>
         <div class="card-block">
            <br>
            <%= link_to "#", class:"recipePath" do%>
                 <h6 class="card-title"> <!-- recipe title here --> </h6> 
            <% end %>
            <h7 class="card-title recipeCommentCount"><!-- recipe comment count here --> comments </h7>
        </div>
</div>

    </div>
