<div class="container">
        <br>
        <div class="row">
           
        </div>
    <br>
</div>

<!-- loading scripts here -->

<script>
    <%= render partial: "jsindex",formats: [:js],locals: { time_now: Time.now }%>
</script>