<h3>What is Keto?</h3>
<br>
<p>Keto is a diet that is radically different than a traditional wieght-loss diet. The diet focuses on eating healthy fats and proteins, while avoiding carbohydrates. Think all the bacon and cheese you could want. By making fat the primary macronutrient your body consumes, your body adapts and burns fat as its primary fuel source. This state is called 'keteosis'.</p>