<div class="pretty-search">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <%= form_tag(recipes_path, method: :get) do %>
                    <%= text_field_tag :search_query, "", class: "form-control", placeholder: "Recipe Name" %>
                    <br>
                    <%= submit_tag 'Search', class: "btn btn-primary" %>
                <% end %>
            </div>
        </div>
    </div>
</div>