<%if @pantry.ingredients.empty?%>
<p>There are no ingredients in your pantry!</p>
<%end%>
<%@pantry.pantry_ingredients.each do |pantry_ingredient|%>
  <div><p><%= link_to  pantry_ingredient.ingredient.name, pantry_ingredient.ingredient %> - <%= button_to "Delete", pantry_ingredient, method: :delete %>  </p></div>
<%end%>