div.pretty-search {
  background-image:
      linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
     image-url("steaky.jpg");
  width:  100%; /*or 70%, or what you want*/
  height: 350px; /*or 70%, or what you want*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.my-width {
  width: 600px;
}

.navbar {
    box-shadow: 0 1px 1px -1px gray;
    min-height: 80px !important;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.margin-0 {
  margin: 0;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
}

body {
  background-color: #F2F2F2 !important;
}

div.content-box div.card {
  border: none;
}

.card-block {
  padding-left: 8px;
  padding-bottom: 8px;
}

.content-box {
  padding: 20px;
  background-color: white;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  border-radius: 5px;
}

a:visited.no-color,a:link.no-color {
    color: black;
}

div.btn-group .btn {
  margin: 5px;
}

.vertical-tweak {
  min-height: 55%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 55vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}


.page-wrap {
  position: relative;
  min-height: 100vh;
  padding-bottom: 10px; /* Should be equal to the height of your footer */
}

.footer-wrap{
  width: 100%;
  position: relative;
  bottom: 0px;
}