div.pretty-search {
  background: image-url('269') no-repeat;
  width:  100%; /*or 70%, or what you want*/
  height: 300px; /*or 70%, or what you want*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}