div.pretty-search {
  background-image:
      linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
     image-url("steaky.jpg");
  width:  100%; /*or 70%, or what you want*/
  height: 350px; /*or 70%, or what you want*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.my-width {
  width: 600px;
}

.navbar {
    box-shadow: 0 1px 1px -1px gray;
    min-height: 80px !important;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.margin-0 {
  margin: 0;
}