.pretty_search {
  background-image:url();
  height: 200px; /*or 70%, or what you want*/
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: image-url("slate_veggies.jpg");
}