<br>
<div class="container">
    <div class="row">
        <div class="col-md-10 content-box">
            <h2>All Categories</h2>
            <br>
            <%= render(@categories) || "Somehow, there are no categories. Run the seed file" %>
        </div>
    </div>
</div>